<section>
  <div class="form-group">
    <label for="item">Item</label>
    <input class="form-control"
           #item
           name="item">
    <input type="button"
           (click)="addTodo(item)"
           class="btn btn-success"
           value="Add It">
  </div>
</section>
<section>
  <ul class="list-unstyled">
    <li class="alert alert-info"
        *ngFor="let item of items$ | async">
      <span>{{ item.description }}</span>&nbsp;
      <button *ngIf="!item.completed"
              (click)="markComplete(item)"
              class="btn btn-sm btn-danger">X</button>
    </li>
  </ul>
</section>
